@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
body {
    background-color: goldenrod;
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    }
.text-bold {
   font-weight: bold;
}
.text-normal {
    font-weight: normal;
  }
h1, h2, h3, h4, h5, h6 {
    color: bisque;
    font-weight: 400;
    font-style: italic;
}
.main-heading {color: burlywood;}
#css-sandbox{color: azure;}